{% extends "base.html" %}

{% block content %}

<div id="edit-user-loading">
    <i class="fas fa-sync fa-spin"></i>
</div>

<form id="edit-user-form">
    <h2>{{ lang.ADMIN_EDIT_USER_TITLE }}</h2>

    <h3>{{ lang.ADMIN_USERS_ACCOUNT }}</h3>
    <div class="form-row mb-2">
        <div class="col-12">
            <label for="username">{{ lang.USERNAME }} <i id="username-feedback-icon" class="fas field-feedback-icon"></i></label>
            <input type="text" id="username" class="form-control select-field">
            <div id="username-feedback-text" class="invalid-feedback">
                <span id="username-feedback-message-none" class="field-feedback-message username-feedback-message">{{ lang.USER_USERNAME_NOT_PROVIDED }}</span>
                <span id="username-feedback-message-short" class="field-feedback-message username-feedback-message">{{ lang.USER_USERNAME_TOO_SHORT }}</span>
                <span id="username-feedback-message-long" class="field-feedback-message username-feedback-message">{{ lang.USER_USERNAME_TOO_LONG }}</span>
                <span id="username-feedback-message-api" class="field-feedback-message username-feedback-message"></span>
            </div>
        </div>
    </div>
    <div class="form-row mb-2">
        <div class="col-12 col-md-6 mb-2">
            <label for="first-name">{{ lang.FIRSTNAME }} <i id="firstname-feedback-icon" class="fas field-feedback-icon"></i></label>
            <input type="text" id="first-name" class="form-control select-field">
            <div id="firstname-feedback-text" class="invalid-feedback">
                <span id="firstname-feedback-message-api" class="field-feedback-message firstname-feedback-message"></span>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="last-name">{{ lang.LASTNAME }} <i id="lastname-feedback-icon" class="fas field-feedback-icon"></i></label>
            <input type="text" id="last-name" class="form-control select-field">
            <div id="lastname-feedback-text" class="invalid-feedback">
                <span id="lastname-feedback-message-api" class="field-feedback-message lastname-feedback-message"></span>
            </div>
        </div>
    </div>

    <h3>{{ lang.ADMIN_USERS_PASSWORD }}</h3>
    <p class="text-muted">{{ lang.EDIT_USER_PASSWORD_BLANK_TIP }}</p>
    <div class="form-row mb-2">
        <div class="col-12 col-md-6 mb-2">
            <label for="password1">{{ lang.NEW_PASSWORD }} <i id="password1-feedback-icon" class="fas field-feedback-icon"></i></label>
            <input type="password" id="password1" class="form-control select-field">
            <div id="password1-feedback-text" class="invalid-feedback">
                <span id="password1-feedback-message-none" class="field-feedback-message password1-feedback-message">{{ lang.USER_PASSWORD_NOT_PROVIDED }}</span>
                <span id="password1-feedback-message-api" class="field-feedback-message username-feedback-message"></span>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="password2">{{ lang.CONFIRM_PASSWORD }} <i id="password2-feedback-icon" class="fas field-feedback-icon"></i></label>
            <input type="password" id="password2" class="form-control select-field">
            <div id="password2-feedback" class="invalid-feedback">
                <span id="password2-feedback-message-none" class="field-feedback-message password2-feedback-message">{{ lang.CONFIRM_PASSWORD_BLANK }}</span>
                <span id="password2-feedback-message-mismatch" class="field-feedback-message password2-feedback-message">{{ lang.CONFIRM_PASSWORD_MISMATCH }}</span>
                <span id="password2-feedback-message-api" class="field-feedback-message username-feedback-message"></span>
            </div>
        </div>
    </div>

    <h3>{{ lang.ADMIN_USERS_ATTRIBUTES }}</h3>
    <div class="custom-control custom-checkbox form-row mb-2">
        <div class="col-12">
            <input type="checkbox" id="admin" class="custom-control-input">
            <label class="custom-control-label" for="admin">{{ lang.ADMIN_USERS_ADMIN }}</label>
        </div>
    </div>
    <div class="custom-control custom-checkbox form-row mb-2">
        <div class="col-12">
            <input type="checkbox" id="disabled" class="custom-control-input">
            <label class="custom-control-label" for="disabled">{{ lang.ADMIN_USERS_DISABLED }}</label>
        </div>
    </div>

    <div class="form-row justify-content-md-end">
        <div class="col-12 col-md-auto mb-2">
            <button type="button" id="disable-twofactor-button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#disable-twofactor-modal"><i class="fas fa-minus-circle"></i> {{ lang.ADMIN_EDIT_USER_DISABLE_2FA }}</button>
        </div>
        <div class="col-12 col-sm-6 col-md-auto mb-2">
            <button type="button" id="save-user-button" class="btn btn-primary btn-block"><i id="save-user-button-icon" class="fas fa-sync fa-spin"></i><span id="save-user-button-text"> {{ lang.SAVE }}</span></button>
        </div>
        <div class="col-12 col-sm-6 col-md-auto mb-2">
            <a href="{{ meta.web_root }}/admin/users" id="cancel-button" class="btn btn-secondary btn-block">{{ lang.CANCEL }}</a>
        </div>
    </div>
</form>

<div class="modal fade" id="disable-twofactor-modal" tabindex="-1" role="dialog" aria-labelledby="disable-twofactor-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disable-twofactor-modal-label">{{ lang.ADMIN_EDIT_USER_DISABLE_2FA }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ lang.ADMIN_EDIT_USER_DISABLE_2FA_PROMPT }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang.CANCEL }}</button>
                <button type="button" id="disable-twofactor-confirm-button" class="btn btn-danger"><i id="disable-twofactor-icon" class="fas fa-minus-circle"></i> {{ lang.ADMIN_EDIT_USER_DISABLE_2FA_SHORT }}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
