.home-block {
    min-height: 18rem;
}

.home-loading {
    font-size: 6em;
    text-align: center;
}

.recipe-card-image-placeholder {
    background-color: #d3d3d3;
}

.recipe-card a {
    color: #000000;
    text-decoration: none;
}

.recipe-card > .card-img-top {
    height: 9em;
    object-fit: cover;
}

.no-recipes-notice {
    display: none;
}