#recipe-wrapper {
    display: none;
}

#recipe-description {
    text-align: justify;
}

#recipe-image-section {
    display: none;
}

#recipe-image-wrapper {
    text-align: center;
}

#recipe-image {
    max-width: 100%;
    max-height: 500px;
}

#recipe-table-section {
    text-align: center;
}

#recipe-cc th,
#recipe-cc td {
    width: 50%;
}

#recipe-details th,
#recipe-details td {
    width: 33%;
}

#recipe-nutrition th,
#recipe-nutrition td {
    width: 33%;
}

@media (min-width: 768px) {
    #recipe-description-section.col-md-6 {
        border-right: 1px solid #d9d9d9;
    }
    #recipe-ingredients-section {
        border-right: 1px solid #d9d9d9;
    }
}

@media (max-width: 767px) {
    #recipe-ingredients-section {
        border-bottom: 1px solid #d9d9d9;
    }
}

.field-none {
    display: none;
    font-style: italic;
    color: gray;
}

#recipe-source {
    display: none;
}
#recipe-source a {
    color: #6c757d;
}

#recipe-fail {
    display: none;
}

#recipe-delete-failed {
    display: none;
    font-weight: bold;
}
