#recipe-form {
    display: none;
}

#recipe-edit-load-failed {
    display: none;
}

#recipe-edit-save-failed {
    display: none;
    font-weight: bold;
}

.field-feedback-icon,
span.field-feedback-message {
    display: none;
}

.field-feedback-red {
    color: #dc3545;
}

.field-feedback-green {
    color: #28a745;
}

#recipe-form div.col-12 > label {
    font-weight: bold;
}

#featured-text {
    display: none;
}

#image-label {
    overflow: hidden;
    white-space: nowrap;
}

#image-reset-button {
    display: none;
}

#image-preview {
    max-height: 312px;
    display: none;
}

#image-placeholder {
    height: 312px;
    padding: 129px 0;
    background-color: #a0a0a0;
    color: white;
}

.option-description {
    display: block;
    margin-left: 25px;
    margin-top: -2px;
}
