@media (min-width: 992px) {
    #cc-wrapper > div:first-child {
        border-right: 1px solid #d9d9d9;
    }
}

#tables-loading {
    font-size: 6em;
    text-align: center;
}

td.action-buttons {
    text-align: right;
}
