#edit-user-loading {
    font-size: 6em;
    text-align: center;
}

#edit-user-form {
    display: none;
}

.field-feedback-icon,
span.field-feedback-message {
    display: none;
}

.field-feedback-red {
    color: #dc3545;
}

.field-feedback-green {
    color: #28a745;
}

#disable-twofactor-button {
    display: none;
}

#save-user-button-icon {
    display: none;
}
