{% extends "base.html" %}

{% block content %}

{% include "components/recipe-card.html" %}

<script id="load-section-failed" type="text/x-handlebars-template">
    <div class="col-12">
        <div class="alert alert-danger">
            <b>{{ lang.HOME_SECTION_FAILED }}</b>
        </div>
    </div>
</script>

<h1>{{ lang.FEATURED_RECIPES }}</h1>
<div id="featured-block" class="home-block">
    <div id="featured-row" class="row h-100">
        <div id="featured-loading" class="col-12 home-loading">
            <i class="fas fa-sync fa-spin"></i>
        </div>
        <div id="featured-none" class="col-12 no-recipes-notice">
            <div class="alert alert-info">
                <b>{{ lang.NO_FEATURED_RECIPES }}</b>
            </div>
        </div>
    </div>
</div>

<h1>{{ lang.NEW_RECIPES }}</h1>
<div id="new-block" class="home-block">
    <div id="new-recipes-row" class="row">
        <div id="new-loading" class="col-12 home-loading">
            <i class="fas fa-sync fa-spin"></i>
        </div>
        <div id="new-none" class="col-12 no-recipes-notice">
            <div class="alert alert-info">
                <b>{{ lang.NO_NEW_RECIPES }}</b>
            </div>
        </div>
    </div>
</div>

{% endblock %}
