{% extends "base.html" %}

{% block content %}

<div id="install-success" class="alert alert-success">
    <b>{{ lang.INSTALL_SUCCESS }}</b><br/>
    {{ lang.INSTALL_SUCCESS_DESC }}
</div>

<div id="install-card" class="card">
    <div class="card-header">
        <h1>{{ lang.INSTALL }}</h1>
    </div>
    <div class="card-body">
        <p>{{ lang.INSTALL_WELCOME }}</p>

        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <h2>{{ lang.LANGUAGE }} <small><i id="language-icon" class="text-muted fas fa-sync fa-spin"></i></small></h2>
                <label for="language" class="d-none">{{ lang.LANGUAGE }}</label>
                <select id="language" class="form-control" disabled></select>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <h2>{{ lang.INSTALL_KEY }} <small><i id="install-key-icon" class="fas field-feedback-icon"></i></small></h2>
                <p>{{ lang.INSTALL_KEY_DESC }} <code>.../data/system/install_key</code>.</p>
                <label for="install-key" class="d-none">{{ lang.INSTALL_KEY }}</label>
                <input type="text" id="install-key" class="form-control field-select" placeholder="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef">
                <div id="install-key-feedback-text" class="invalid-feedback">
                    <span id="install-key-feedback-message-api" class="field-feedback-message install-key-feedback-message"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="install-alert" class="alert alert-danger">
                    <b>{{ lang.INSTALL_FAILED_ALERT }}</b><br/>
                    <span id="install-error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="db-column" class="col-12 col-lg-6 mb-4 pr-lg-4">
                <h2>{{ lang.INSTALL_DATABASE_CONNECTION }}</h2>
                <div class="form-row">
                    <div class="col-9 mb-2">
                        <label for="db-host">{{ lang.INSTALL_DATABASE_HOST }}</label>
                        <input type="text" id="db-host" class="form-control" placeholder="localhost">
                    </div>
                    <div class="col-3 mb-2">
                        <label for="db-port">{{ lang.INSTALL_DATABASE_PORT }}</label>
                        <input type="text" id="db-port" class="form-control" placeholder="3306">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-lg-6 mb-2">
                        <label for="db-username">{{ lang.USERNAME }}</label>
                        <input type="text" id="db-username" class="form-control" placeholder="pantry">
                    </div>
                    <div class="col-12 col-lg-6 mb-2">
                        <label for="db-password">{{ lang.PASSWORD }}</label>
                        <input type="password" id="db-password" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-2">
                        <label for="db-database">{{ lang.INSTALL_DATABASE_DATABASE }}</label>
                        <input type="text" id="db-database" class="form-control" placeholder="pantry">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 pl-lg-4">
                <h2>{{ lang.INSTALL_FIRST_USER }}</h2>
                <div class="form-row">
                    <div class="col-12 mb-2">
                        <label for="user-username">{{ lang.USERNAME }}</label>
                        <input type="text" id="user-username" class="form-control" maxlength="32" placeholder="admin">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-lg-6 mb-2">
                        <label for="user-firstname">{{ lang.FIRSTNAME }}</label>
                        <input type="text" id="user-firstname" class="form-control" maxlength="64">
                    </div>
                    <div class="col-12 col-lg-6 mb-2">
                        <label for="user-lastname">{{ lang.LASTNAME }}</label>
                        <input type="text" id="user-lastname" class="form-control" maxlength="64">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-lg-6 mb-2">
                        <label for="user-password1">{{ lang.PASSWORD }} *</label>
                        <input type="password" id="user-password1" class="form-control field-required">
                    </div>
                    <div class="col-12 col-lg-6 mb-2">
                        <label for="user-password2">{{ lang.CONFIRM_PASSWORD }} *</label>
                        <input type="password" id="user-password2" class="form-control field-required">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="button" id="install" class="btn btn-success btn-block btn-lg" disabled>
                    <i id="install-icon" class="fas fa-fw fa-arrow-right"></i>
                    {{ lang.INSTALL_BUTTON }}
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}