{% extends "base.html" %}

{% block content %}

<div id="main-loading-wheel">
    <i class="fas fa-sync fa-spin"></i>
</div>

<div id="recipe-wrapper" class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9 mb-2 mb-lg-0">
                <h1 id="recipe-title" class="card-title"></h1>
                <h6 id="recipe-blurb" class="card-subtitle"></h6>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 d-print-none">
                <div class="">
                    <div class="row no-gutters">
                        <div class="col-6 pr-1">
                            <a id="recipe-edit-button" class="btn btn-primary btn-block" role="button"><i class="fas fa-pencil-alt"></i> {{ lang.EDIT }}</a>
                        </div>
                        <div class="col-6 pl-1">
                            <button id="recipe-delete-button" type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#recipe-delete-modal"><i class="fas fa-fw fa-trash-alt"></i> {{ lang.DELETE }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="recipe-row-1" class="row">
            <div id="recipe-details-section">
                <div id="recipe-row-1-1" class="row">
                    <div id="recipe-description-section">
                        <p id="recipe-description" class="card-text"></p>
                    </div>
                    <div id="recipe-table-section">
                        <table id="recipe-cc" class="table">
                            <thead>
                            <tr>
                                <th>{{ lang.COURSE }}</th>
                                <th>{{ lang.CUISINE }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span id="recipe-course"></span>
                                    <span id="recipe-course-none" class="field-none">{{ lang.NONE }}</span>
                                </td>
                                <td>
                                    <span id="recipe-cuisine"></span>
                                    <span id="recipe-cuisine-none" class="field-none">{{ lang.NONE }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table id="recipe-details" class="table">
                            <thead>
                            <tr>
                                <th>{{ lang.SERVINGS }}</th>
                                <th>{{ lang.PREP_TIME }}</th>
                                <th>{{ lang.COOK_TIME }}</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td><span id="recipe-servings"></span></td>
                                <td>
                                    <span id="recipe-prep-time"></span>
                                    <span id="recipe-prep-time-none" class="field-none">{{ lang.NONE }}</span>
                                </td>
                                <td>
                                    <span id="recipe-cook-time"></span>
                                    <span id="recipe-cook-time-none" class="field-none">{{ lang.NONE }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table id="recipe-nutrition" class="table">
                            <thead>
                            <tr>
                                <th>{{ lang.SERVING_SIZE }}</th>
                                <th>{{ lang.CALORIES_PER_SERVING }}</th>
                                <th>{{ lang.CALORIES_TOTAL }}</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span id="recipe-serving-size"></span>
                                    <span id="recipe-serving-size-none" class="field-none">{{ lang.NONE }}</span>
                                </td>
                                <td>
                                    <span id="recipe-calories-per-serving"></span>
                                    <span id="recipe-calories-per-serving-none" class="field-none">{{ lang.NONE }}</span>
                                </td>
                                <td>
                                    <span id="recipe-calories-total"></span>
                                    <span id="recipe-calories-total-none" class="field-none">{{ lang.NONE }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="recipe-image-section">
                <div id="recipe-image-wrapper">
                    <img id="recipe-image" src="" alt="">
                    <p class="small mb-0 text-right d-print-none">[ <a id="recipe-image-download" href="" download>{{ lang.DOWNLOAD_FULL_IMAGE }}</a> ]</p>
                </div>
            </div>
        </div>
        <hr>
        <div id="recipe-row-2" class="row">
            <div id="recipe-ingredients-section" class="col-12 col-md-4">
                <h3>{{ lang.INGREDIENTS }}</h3>
                <div id="recipe-ingredients" class="card-text"></div>
                <div id="recipe-ingredients-none" class="card-text field-none"><i>{{ lang.NONE }}</i></div>
            </div>
            <div id="recipe-directions-section" class="col-12 col-md-8 mt-3 mt-md-0">
                <h3>{{ lang.DIRECTIONS }}</h3>
                <div id="recipe-directions" class="card-text"></div>
                <div id="recipe-directions-none" class="card-text field-none"><i>{{ lang.NONE }}</i></div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <b>{{ lang.AUTHOR }}:</b> <span id="recipe-author-none" class="field-none">{{ lang.NONE }}</span><span id="recipe-author-name"></span><br/>
        <span id="recipe-source"><b>{{ lang.SOURCE }}:</b> <a id="recipe-source-link" target="_blank"></a></span>
    </div>
</div>

<div id="recipe-fail" class="alert alert-danger">
    <b>{{ lang.RECIPE_NOT_FOUND_TITLE }}</b> {{ lang.RECIPE_NOT_FOUND_DESC }}
</div>

<div class="modal fade" id="recipe-delete-modal" tabindex="-1" role="dialog" aria-labelledby="recipe-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recipe-delete-modal-label">{{ lang.DELETE_RECIPE_TITLE }}: <span id="recipe-delete-modal-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="recipe-delete-failed" class="alert alert-danger"></div>
                {{ lang.DELETE_RECIPE_PROMPT }}
            </div>
            <div class="modal-footer">
                <input type="hidden" id="recipe-delete-modal-recipeid" value="">
                <button type="button" id="recipe-delete-confirm-button" class="btn btn-danger"><i id="recipe-delete-button-icon" class="fas fa-trash-alt"></i> {{ lang.DELETE }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang.CANCEL }}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
