<form id="recipe-form" class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9 mb-2 mb-lg-0">
                <h1 class="card-title">{{ title }}</h1>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 d-print-none">
                <div class="">
                    <div class="row no-gutters">
                        <div class="col-6 pr-1">
                            <button id="recipe-save-button" type="button" class="btn btn-success btn-block"><i id="recipe-save-button-icon" class="fas fa-fw fa-save"></i> {{ lang.SAVE }}</button>
                        </div>
                        <div class="col-6 pl-1">
                            <a id="cancel-button" class="btn btn-secondary btn-block" role="button"><i class="fas fa-times"></i> {{ lang.CANCEL }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="no-permission-alert" class="alert alert-danger" style="display:none"><b>{{ lang.EDIT_RECIPE_NO_PERMISSION }}</b></div>
        <div class="form-row">
            <input type="hidden" id="id">
            <div class="col-12 col-md-5 mb-2">
                <label for="recipe-title">{{ lang.TITLE }} <i id="title-feedback-icon" class="fas field-feedback-icon"></i></label>
                <input type="text" id="recipe-title" class="form-control" maxlength="64">
                <div id="title-feedback-text" class="invalid-feedback">
                    <span id="title-feedback-message-none" class="field-feedback-message title-feedback-message">{{ lang.RECIPE_TITLE_ERROR_NONE }}</span>
                    <span id="title-feedback-message-short" class="field-feedback-message title-feedback-message">{{ lang.RECIPE_TITLE_ERROR_SHORT }}</span>
                    <span id="title-feedback-message-long" class="field-feedback-message title-feedback-message">{{ lang.RECIPE_TITLE_ERROR_LONG }}</span>
                    <span id="title-feedback-message-api" class="field-feedback-message title-feedback-message"></span>
                </div>
            </div>
            <div class="col-12 col-md-5 mb-2">
                <label for="slug">{{ lang.SLUG }} <i id="slug-help-icon" class="fas fa-info-circle text-muted"></i> <i id="slug-feedback-icon" class="fas field-feedback-icon"></i></label>
                <div id="slug-help-text" class="d-none">{{ lang.RECIPE_SLUG_HELP }}</div>
                <input type="text" id="slug" class="form-control" maxlength="40">
                <div id="slug-feedback-text" class="invalid-feedback">
                    <span id="slug-feedback-message-none" class="field-feedback-message slug-feedback-message">{{ lang.RECIPE_SLUG_ERROR_NONE }}</span>
                    <span id="slug-feedback-message-short" class="field-feedback-message slug-feedback-message">{{ lang.RECIPE_SLUG_ERROR_SHORT }}</span>
                    <span id="slug-feedback-message-long" class="field-feedback-message slug-feedback-message">{{ lang.RECIPE_SLUG_ERROR_LONG }}</span>
                    <span id="slug-feedback-message-api" class="field-feedback-message slug-feedback-message"></span>
                </div>
            </div>
            <div class="col-12 col-md-2 mb-4 mb-md-2">
                <label>{{ lang.FEATURED }} <i id="featured-help-icon" class="fas fa-info-circle text-muted"></i> <i id="featured-feedback-icon" class="fas field-feedback-icon"></i></label>
                <div id="featured-help-text" class="d-none">{{ lang.FEATURED_HELP }}</div>
                <button type="button" id="featured" class="btn btn-block btn-outline-secondary" data-toggle="button" aria-pressed="false">
                    <span id="not-featured-text">{{ lang.NOT_FEATURED }}</span>
                    <span id="featured-text"><i class="fas fa-check"></i> {{ lang.FEATURED }}</span>
                </button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 mb-2">
                <label for="blurb">{{ lang.BLURB }} <i id="blurb-feedback-icon" class="fas field-feedback-icon"></i></label>
                <input type="text" id="blurb" class="form-control" maxlength="100">
                <div id="blurb-feedback-text" class="invalid-feedback">
                    <span id="blurb-feedback-message-long" class="field-feedback-message blurb-feedback-message">{{ lang.RECIPE_BLURB_ERROR_LONG }}</span>
                    <span id="blurb-feedback-message-api" class="field-feedback-message blurb-feedback-message"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 mb-2">
                <label for="description">{{ lang.DESCRIPTION }} <i id="description-feedback-icon" class="fas field-feedback-icon"></i></label>
                <textarea id="description" class="form-control" rows="4"></textarea>
                <small id="description-help-text" class="form-text text-muted">{{ lang.MARKDOWN_SUPPORTED }}</small>
                <div id="description-feedback-text" class="invalid-feedback">
                    <span id="description-feedback-message-api" class="field-feedback-message description-feedback-message"></span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12 col-lg-6">
                <div class="form-row">
                    <div class="col-12 mb-2">
                        <label for="image">{{ lang.IMAGE }} <i id="image-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="hidden" id="image-clear" value="false">
                                <input type="file" id="image" class="custom-file-input">
                                <label id="image-label" class="custom-file-label" for="image">{{ lang.CHOOSE_FILE }}</label>
                            </div>
                            <div class="input-group-append">
                                <button id="image-reset-button" type="button" class="btn btn-outline-info">Reset</button>
                                <button id="image-clear-button" type="button" class="btn btn-outline-danger">{{ lang.CLEAR }}</button>
                            </div>
                        </div>
                        <div id="image-feedback-text" class="invalid-feedback">
                            <span id="image-feedback-message-api" class="field-feedback-message image-feedback-message"></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-md-6 mb-2">
                        <label for="course">{{ lang.COURSE }} <i id="course-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <select id="course" class="form-control">
                            <option value="">({{ lang.NONE }})</option>
                        </select>
                        <div id="course-feedback-text" class="invalid-feedback">
                            <span id="course-feedback-message-api" class="field-feedback-message course-feedback-message"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <label for="cuisine">{{ lang.CUISINE }} <i id="cuisine-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <select id="cuisine" class="form-control">
                            <option value="">({{ lang.NONE }})</option>
                        </select>
                        <div id="cuisine-feedback-text" class="invalid-feedback">
                            <span id="cuisine-feedback-message-api" class="field-feedback-message cuisine-feedback-message"></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-md-4 mb-2">
                        <label for="servings">{{ lang.SERVINGS }} <i id="servings-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <input type="number" id="servings" value="1" min="1" max="100" class="form-control" required>
                        <div id="servings-feedback-text" class="invalid-feedback">
                            <span id="servings-feedback-message-api" class="field-feedback-message servings-feedback-message"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="prep-time">{{ lang.PREP_TIME }} <i id="prep-time-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <input type="number" id="prep-time" value="0" min="0" max="129600" class="form-control">
                        <div id="prep-time-feedback-text" class="invalid-feedback">
                            <span id="prep-time-feedback-message-api" class="field-feedback-message prep-time-feedback-message"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="cook-time">{{ lang.COOK_TIME }} <i id="cook-time-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <input type="number" id="cook-time" value="0" min="0" max="129600" class="form-control">
                        <div id="cook-time-feedback-text" class="invalid-feedback">
                            <span id="cook-time-feedback-message-api" class="field-feedback-message cook-time-feedback-message"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-8 mb-2">
                        <label for="serving-size">{{ lang.SERVING_SIZE }} <i id="serving-size-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <input type="text" id="serving-size" maxlength="40" class="form-control">
                        <div id="serving-size-feedback-text" class="invalid-feedback">
                            <span id="serving-size-feedback-message-api" class="field-feedback-message serving-size-feedback-message"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="calories">{{ lang.CALORIES_TOTAL }} <i id="calories-feedback-icon" class="fas field-feedback-icon"></i></label>
                        <input type="number" id="calories" value="0" min="0" max="1000000" class="form-control">
                        <div id="calories-feedback-text" class="invalid-feedback">
                            <span id="calories-feedback-message-api" class="field-feedback-message calories-feedback-message"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="image-preview-wrapper" class="col-12 col-md-6 text-center">
                <img id="image-preview" class="img-fluid" src="" alt="">
                <div id="image-placeholder" class="rounded align-middle">
                    <h1>[{{ lang.NO_IMAGE }}]</h1>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12 col-md-4 mb-2">
                <label for="ingredients">{{ lang.INGREDIENTS }}</label>
                <textarea id="ingredients" class="form-control" rows="8"></textarea>
                <small id="ingredients-help-text" class="form-text text-muted">{{ lang.MARKDOWN_SUPPORTED }}</small>
                <div id="ingredients-feedback-text" class="invalid-feedback">
                    <span id="ingredients-feedback-message-api" class="field-feedback-message ingredients-feedback-message"></span>
                </div>
            </div>
            <div class="col-12 col-md-8 mb-2">
                <label for="directions">{{ lang.DIRECTIONS }}</label>
                <textarea id="directions" class="form-control" rows="8"></textarea>
                <small id="directions-help-text" class="form-text text-muted">{{ lang.MARKDOWN_SUPPORTED }}</small>
                <div id="directions-feedback-text" class="invalid-feedback">
                    <span id="directions-feedback-message-api" class="field-feedback-message directions-feedback-message"></span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <label for="source">{{ lang.SOURCE }} <i id="source-feedback-icon" class="fas field-feedback-icon"></i></label>
                <input type="text" id="source" class="form-control" maxlength="2084">
                <div id="source-feedback-text" class="invalid-feedback">
                    <span id="source-feedback-message-api" class="field-feedback-message source-feedback-message"></span>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-row">
            <div class="col-12">
                <h2>{{ lang.PERMISSIONS }}</h2>
            </div>

            <div class="col-12 col-md-6">
                <h4>{{ lang.VISIBILITY }}</h4>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="visibility-private" name="visibility" class="custom-control-input" value="0">
                    <label class="custom-control-label" for="visibility-private">
                        <i class="fas fa-lock fa-fw"></i>
                        <span class="option-title">{{ lang.PRIVATE }}</span>
                        <span class="option-description text-muted">{{ lang.PRIVATE_DESC }}</span>
                    </label>
                </div>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="visibility-internal" name="visibility" class="custom-control-input" value="1">
                    <label class="custom-control-label" for="visibility-internal">
                        <i class="fas fa-shield-alt fa-fw"></i>
                        <span class="option-title">{{ lang.INTERNAL }}</span>
                        <span class="option-description text-muted">{{ lang.INTERNAL_DESC }}</span>
                    </label>
                </div>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="visibility-public" name="visibility" class="custom-control-input" value="2" checked>
                    <label class="custom-control-label" for="visibility-public">
                        <i class="fas fa-globe-americas fa-fw"></i>
                        <span class="option-title">{{ lang.PUBLIC }}</span>
                        <span class="option-description text-muted">{{ lang.PUBLIC_DESC }}</span>
                    </label>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <h4>{{ lang.DEFAULT_PERMISSION_LEVEL }}</h4>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="default-permission-read" name="default-permission" class="custom-control-input" value="1" checked>
                    <label class="custom-control-label" for="default-permission-read">
                        <i class="fas fa-book-reader fa-fw"></i>
                        <span class="option-title">{{ lang.READ }}</span>
                        <span class="option-description text-muted">{{ lang.READ_DESC }}</span>
                    </label>
                </div>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="default-permission-write" name="default-permission" class="custom-control-input" value="2">
                    <label class="custom-control-label" for="default-permission-write">
                        <i class="fas fa-pencil-alt fa-fw"></i>
                        <span class="option-title">{{ lang.WRITE }}</span>
                        <span class="option-description text-muted">{{ lang.WRITE_DESC }}</span>
                    </label>
                </div>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="default-permission-admin" name="default-permission" class="custom-control-input" value="3">
                    <label class="custom-control-label" for="default-permission-admin">
                        <i class="fas fa-wrench fa-fw"></i>
                        <span class="option-title">{{ lang.ADMIN }}</span>
                        <span class="option-description text-muted">{{ lang.ADMIN_DESC }}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
