{% verbatim %}
<script id="recipe-card-template" type="text/x-handlebars-template">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card h-100 recipe-card">
            {{#if recipe.image.path}}
            <img class="card-img-top" src="{{ recipe.image.path }}">
            {{else}}
            <div class="card-img-top recipe-card-image-placeholder"></div>
            {{/if}}
            <div class="card-body">
                <h4 class="card-title"><a href="/recipe/{{ recipe.slug }}" class="stretched-link">{{ recipe.title }}</a></h4>
                <p class="card-text">{{ recipe.blurb }}</p>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}